/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
   @import url("https://use.typekit.net/mgg8hlf.css");

/* Styles for the body */

body {
	font-family: "fira-sans", sans-serif;
	font-weight: 400;
	font-style: normal;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #434A59;
	color:#F2F2F0
}

.name {
	font-family: "apoline", serif;
	color: #F2F2F0;
	font-weight: 700;
	font-style: normal;
}

.resume-main {
	background-color: #F2F2F0;
}

.headers {
	font-family: "aileron", sans-serif;
	font-weight: 800;
	font-style: normal;
}

.subheaders {
	font-family: "fira-sans", sans-serif;
	font-weight: 100;
	font-style: normal;
}

.resume-aside {
	background-color: #ec5800;
	color: #F2F2F0
	
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #434A59;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
